default_language_version:
    python: python3.10
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-ast
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-docstring-first
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-yaml
        # Ignore mkdocs because the linter fails on the pymdownx specific
        # syntax to inject Python code from configuration.
        exclude: mkdocs.yml
    -   id: debug-statements
    -   id: end-of-file-fixer
        exclude: ^(docs/|gdocs/)
    -   id: pretty-format-json
        args: ['--autofix']
    -   id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
        exclude: ^(docs/|gdocs/)
    -   id: check-added-large-files
        args: ['--maxkb=500']

-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        additional_dependencies: ['click>=8.0.4']

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.10.0'
    hooks:
    -   id: mypy
        files: ^melusine

-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        additional_dependencies: [ flake8-docstrings, "flake8-bugbear==24.2.6" ]

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
    -   id: ruff

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
    -   id: isort

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]

-   repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black>=24.4.2]

-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
    -   id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]
