pip>=20.0
coverage==4.5.1
emoji
flake8==3.5.0
nltk
numpydoc==0.8.0
Sphinx==3.0.4
twine==3.2.0
nbformat>=4.2.0
psutil>=5.7.0
pytest==3.8.2
pytest-runner==4.2
watchdog==0.9.0
wheel>=0.32.1
pandas>=1.3.0
scikit-learn>=0.23.0
gensim>=4.1.2
tqdm>=4.34
streamlit>=0.57.3
tensorflow>=2.8.0
transformers==3.4.0
unidecode>=1.0
flashtext>=2.7
plotly
h5py>=3.0
joblib>=1.0
PyYAML>=4.2
spacy>=3.0.0,<=3.0.4
spacy-lefff==0.4.0


