bumpversion==0.5.3
wheel==0.32.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==3.0.4
sphinx-bootstrap-theme==0.6.5
twine==1.12.1
pytest==3.8.2
pytest-runner==4.2
numpydoc==0.8.0
pandas>=0.25.0
scikit-learn>=0.19.0
gensim>=3.3.0
tqdm>=4.34
streamlit>=0.57.3
tensorflow>=2.0.0
unidecode
joblib
flashtext>=2.7
plotly